.DecoTable th,
.DecoTable td {
  vertical-align: middle;
}

.DecoTable th {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 1;
}

.DecoTable-skills {
  display: block;
  font-size: 0.8em;
  color: #aaa;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.DecoTable-numberInput {
  text-align: right;
  width: 3em;
}
