.ArmorName.on {
  color: #1A0DAB;
  cursor: pointer;
}

.ArmorName.on:hover {
  text-decoration: underline;
}

.ArmorName-table {
  margin: 1em 0;
}

.ArmorName-table th,
.ArmorName-table td {
  text-align: center;
}
