.Result {
  border-top: 1px solid #bbb;
}

.Result:last-child {
  border-bottom: 1px solid #bbb;
}

.Result-thumb {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  cursor: pointer;
}

.Result-thumb::after {
  content: '';
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin: 0.25em;
  border-top: 2px solid #bbb;
  border-right: 2px solid #bbb;
  transform: rotate(45deg);
}

.Result-thumb.on::after {
  transform: rotate(135deg);
}

.Result-thumb:hover {
  background: #ddd;
}

.Result-title {
  font-weight: bold;
}

.Result-content {
  display: flex;
}

.Result-table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
}

.Result-table tr {
  border-top: solid 1px #ddd;
}

.Result-table th {
  width: 5em;
}

.Result-table th,
.Result-table td {
  padding: 0.6em 1em 0.4em;
  text-align: left;
  vertical-align: text-top;
}

.Result-ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.Result-number {
  text-align: right !important;
}

@media screen and (max-width:960px) {
  .Result-content {
    display: block;
  }

  .Result-table {
    width: 100%;
  }

  .Result-table + .Result-table {
    margin-top: 1em;
  }
}
