.Button {
  padding: 0.5em 1em;
  margin: 1px 0.5em;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  text-decoration: none;
  background-color: transparent;
  color: #666;
  transition: color .4s, background-color .4s;
  -webkit-appearance: none;
  appearance: none;
}

.Button:hover {
  background-color: #eee;
}

.Button.primary {
  border: solid 2px #67c5ff;
  background-color: white;
  color: #67c5ff;
}

.Button.primary:hover {
  background-color: #67c5ff;
  color: white;
}
