.Table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.Table tr {
  border-top: solid 1px #ddd;
}

.Table th,
.Table td {
  padding: 0.6em 4px 0.4em;
  text-align: left;
  vertical-align: text-top;
}

.Table th:first-child,
.Table td:first-child {
  padding-left: 1em;
}

.Table th:last-child,
.Table td:last-child {
  padding-right: 1em;
}

.Table-hoverable tr:hover {
  background-color: #eee;
}
