body {
  padding: 0;
  margin: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 500;
  font-feature-settings: "palt";
}

::-webkit-scrollbar {
  width: 10px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.App-sticky {
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: #fff;
}

.App-outputArea {
  /* 検索時のスクロール用 */
  min-height: 100vh;
}

@media screen and (min-width:700px) {
  body {
    overflow: hidden;
  }

  .App {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .App-main {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  .App-inputArea {
    display: flex;
    flex-direction: column;
    width: 360px;
  }

  .App-inputScroll {
    flex: 1;
    overflow: auto;
  }

  .App-outputArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    min-height: auto;
  }
}
