body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 500;
  font-feature-settings: "palt";
}

::-webkit-scrollbar {
  width: 10px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.App-inputArea {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.App-inputScroll {
  flex: 1;
  overflow: auto;
}

.App-sticky {
  overflow: hidden;
  background: #fff;
}

.App-outputArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App-outputContent {
  overflow-y: scroll;
  flex: 1;
}

@media screen and (max-width:480px) {
  body {
    overflow: visible;
  }

  .App,
  .App-main,
  .App-inputArea,
  .App-outputArea,
  .App-outputContent {
    display: block;
    width: auto;
    height: auto;
    overflow: visible;
  }

  .App-inputArea {
    position: relative;
  }

  .App-sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  }
}
