body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.App-inputArea {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.App-skill {
  flex: 1;
  overflow: auto;
}

.App-searchButton {
  text-align: center;
  background: #fff;
}

@media screen and (max-width:480px) {

  .App,
  .App-main,
  .App-inputArea {
    display: block;
    width: auto;
    height: auto;
    overflow: visible;
  }

  .App-inputArea {
    position: relative;
  }

  .App-searchButton {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  }

}
